@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");

* {
	font-family: "Lobster", cursive;
}

body {
	color: rgb(0, 0, 0); 
}

.container {
	margin: 0 auto;
	max-width: 800px;
}

.color-will {
  	background-color: rgba(241, 70, 27, 0.4); 
}

.color-did {
  	background-color: rgba(55, 185, 61, 0.4); 
}

#btn-load-todos {
  	display: flex;	
	box-sizing: border-box;
	padding: 0 5px;
	outline: none;
	border: 3px solid rgb(0, 0, 0, 0.2);  
	border-radius: 15px;
	line-height: 38px;
	font-size: 16px;
	font-weight: 400;
	text-decoration: none;
	background-color: rgba(167, 168, 240, 0.5);
	cursor: pointer;
	user-select: none;
	appearance: none;
	touch-action: manipulation;  
  	margin-top: 10px;
  	box-shadow: 15px 15px 15px rgba(154, 147, 140, 0.5);
}

#btn-load-todos:focus {
	box-shadow: 0 0 0 3px rgb(108 117 125 / 50%);
}

#btn-load-todos:hover {
	background-color: rgb(114, 224, 119, 0.2); 
}

#btn-load-todos:active {
	background-color: rgba(79, 126, 82, 0.2); 
}
 
#label-input-list {
  	display: flex;
}

#input-list {
	width: 100%;
	margin-top: 30px; 
}

#todo-list {
	max-width: 100%;
}

.li-task {
	margin-top: 15px;
	list-style-position: inside;
	border-radius: 15px;
	box-shadow: 15px 15px 15px rgba(154, 147, 140, 0.5);
}

.button-del {
	display: block;
	margin-top: 10px;
	box-sizing: border-box;
	padding: 5px;
	outline: none;
	border: 1px solid rgb(0, 0, 0, 0.2); 
	border-radius: 15px;
	font-size: 12px;
	font-weight: 400;
 	box-shadow: 15px 15px 15px rgba(154, 147, 140, 0.5);
	cursor: pointer;
}

.button-del:hover {
	background-color: rgba(114, 174, 224, 0.2); 
}

.button-del:active {
	background-color: rgba(79, 126, 82, 0.2); 
}