@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

* {
  margin: 0;
}

body {
  font-family: 'Pacifico', cursive;
}

#wrapper {
  margin: 0 auto;
  max-width: 1000px;
}

#forma {
  display: flex;
  box-shadow: -4px 0 4px -2px rgba(214, 214, 214, 1);
  display: none;
}

#topGreyline {
  border-bottom: 1px solid rgb(221, 221, 221);
  background-color: rgb(68, 68, 68);
  font-size: 2rem;
  font-weight: 600;
  color: white;
}

#header {
text-align: center;
 padding: 15px 0;
}

span {
  color: red;
}

input {
  line-height: 3;
  padding-left: 13px;
  border: rgb(229, 229, 229);
  background: linear-gradient(rgb(238, 238, 238), rgb(255, 255, 255));
  font-size: 1rem;
  color: rgb(68, 68, 68);
}

#bottomGreyline {
  box-sizing: border-box;
  margin-top: 20px;
  padding: 15px;
  border-top: 1px solid rgb(221, 221, 221);
  background-color: rgb(68, 68, 68);
  box-shadow: 0 7px 7px -2px rgba(214, 214, 214, 1);
}

#lable {
  margin: 15px;
  font-size: 1rem;
  font-weight: 500;
  color: rgb(68, 68, 68);
}

#submit {
 padding: 10px;
 margin-bottom: 15px;
 font-family: 'Pacifico', cursive;
  background-color: rgb(227, 227, 227);
  color: rgb(68, 68, 68);
  border: 1px;
  border-radius: 3px;
  font-size: 1rem;
  font-weight: 800;
}

#greet {
  display: none;
  text-align: center;
  background-color: rgb(236, 161, 161);
  color: rgb(121, 7, 7);
  border: 1px;
  border-radius: 13px;
  font-size: 2rem;
  font-weight: 800;
  box-shadow: -4px 0 4px -2px rgba(214, 214, 214, 1);
}